.addAttendance {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.attendance-table {
  width: 100%;
}